<template>
    <div class="card">
        <div class="card-header">Posts List
            <el-button @click="$router.push({ name: 'blog.create' })" type="text" size="small">Create new post</el-button>
        </div>
        <el-table
            :data="posts"
            style="width: 100%">
            <el-table-column
                prop="title"
                label="Title"
                width="180">
            </el-table-column>
            <el-table-column
                prop="published_at"
                label="Will be published"
                width="180">
            </el-table-column>
            <el-table-column
                prop="created_at"
                label="Created"
                width="180">
            </el-table-column>
            <el-table-column
                prop="id"
                label="Actions"
                width="120">
                <template slot-scope="scope">
                    <el-button @click="$router.push({ name: 'blog.edit', params: { id: scope.row.id }})" type="text" size="small">Edit/View</el-button>
                    <el-button @click.prevent="remove(scope.row.id)" type="text" size="small">Delete</el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>

<script>
    export default {
        name: 'BlogList',
        data() {
            return {
                routes: {
                    list: function () {
                        return route("posts.index", {}, false);
                    },
                    delete: function (id) {
                        return route("posts.destroy", {id}, false);
                    },
                },
                posts: []
            }
        },
        methods: {
            remove(id) {
                axios.delete(this.routes.delete(id))
                    .then(resp => {
                    })
                    .catch(e => {
                        this.$message({
                            showClose: true,
                            message: e?.response?.data?.message ?? e.message,
                            type: 'error'
                        });
                    });
            },
            loadList() {
                axios.get(this.routes.list())
                   .then(({ data }) => {
                       this.posts = data.data;
                   })
                    .catch(e => {
                        this.$message({
                            showClose: true,
                            message: e?.response?.data?.message ?? e.message,
                            type: 'error'
                        });
                    });
            }
        },
        mounted() {
            this.loadList();
        }
    }
</script>
